<div id="main" class="container">
	<div class="jumbotron">
		<h1><i class="fa fa-tv"></i> PrestraSlides</h1>
		<p class="intro">
			Create your own presentation secure, private and free!
		</p>
		<section id="usp">
			<div class="row clearfix">
				<div class="col-md-4">
					<div class="inner">
						<i class="fa fa-7 fa-user-secret"></i>
						<h2>Private</h2>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, ridiculus mus.</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="inner">
						<i class="fa fa-7 fa-lock"></i>
						<h2>Secure</h2>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, ridiculus mus.</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="inner">
						<i class="fa fa-7 fa-hand-o-up"></i>
						<h2>Easy</h2>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, ridiculus mus.</p>
					</div>
				</div>
			</div>
		</section>
		<p><a ng-href="#/project" class="btn btn-lg btn-primary">Create your PrestaSlide!</a></p>
	</div>
</div>