<div id="project" class="container">
	<div class="jumbotron">
		<h1><i class="fa fa-plus"></i> Create presentation</h1>
		<p class="intro">
			Create your own PrestaSlide presentation secure, private and free!
		</p>
		<section id="choose">
			<div class="row">
				<div class="col-md-6">
					<div class="inner">
						<h2><i class="fa fa-hdd-o"></i> Local Session</h2>
						<p class="text">Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar</p>
						<p><a ng-href="#/project/{{guid}}" class="btn btn-lg btn-primary">Start building!</a></p>
					</div>
				</div>
				<div class="col-md-6">
					<div class="inner">
						<h2><i class="fa fa-cloud"></i> Cloud Session</h2>
						<p class="text">Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar</p>
						<p><a class="btn btn-lg btn-primary" disabled>Buy premium!  &euro; 10,- / year</a></p>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>